@use "../../base/mixins" as m;

.noteslist {
  width: auto;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include m.tablet {
    @include m.grid(3, 2rem);
  }
  @include m.desktop {
    @include m.grid(5, 2rem);
  }

  &__card {
    width: auto;
  }
  &__star {
    font-size: 1.8rem;
  }
  &__text {
    font-size: 1.4rem;
    margin: 0;
  }
}
