//!FONTS
$main_font: "Poppins", sans-serif;

//!MEDIA
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//!COLORS
$primary_color: #3b3b3b;
$secondary_color: rgb(141, 141, 141);
$tertiary_color: rgb(71, 71, 71);
$dark_color: #242424;
$light_color: rgb(202, 202, 202);
$yellow_color: rgb(231, 212, 71);
$red_color: rgb(158, 46, 46);
$green_color: rgb(43, 168, 68);
$blue_color: rgb(75, 92, 187);
